In [40]:
    # python dependencies
import json as js
import pandas as pd
import time 

from sqlalchemy import create_engine

    # credentials
from config import db_password

    # user defined functions
import _01_ReadDataFunction as read
import _02_WikiFunction as wiki
import _03_KaglFunction as kagl

file_dir = 'Resources'

In [2]:
    # read in files
wiki_movies_raw_df, wiki_movies_raw_ls = read.load_jsn('/wikipedia_movies.json')
kagl_movies_raw_df = read.load_csv('/movies_metadata.csv')
rate_movies_raw_df = read.load_csv('/ratings.csv')

In [3]:
    # function
def data_fill(df, kagl_column, wiki_column):
    df[kagl_column] = df.apply(
        lambda row: row[wiki_column] if row[kagl_column] == 0 else row[kagl_column]
        , axis=1)
    df.drop(columns=wiki_column, inplace=True)
    return df

In [4]:
    # clean wiki w/ wiki function
cleaned_wiki_movies_df = wiki.clean_wiki_df(wiki_movies_raw_df, wiki_movies_raw_ls)

c:\Users\grego\Box\Education\_Final Submissions\2021_UofO\CHmodule_8\_02_WikiFunction.py:190: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Budget'] = df['Budget'].str.replace(r'\[\d+\]\s*', '')

In [5]:
    # clean kaggle w/ kagl function
cleaned_kagl_movies_df = kagl.clean_kagl_df(kagl_movies_raw_df)

In [8]:
    # clean ratings data
cleaned_rate_movies_df = rate_movies_raw_df
cleaned_rate_movies_df['timestamp'] = pd.to_datetime(rate_movies_raw_df['timestamp'], unit='s')

In [26]:
    # merge cleaned data
movies_raw_df = pd.merge(cleaned_wiki_movies_df, cleaned_kagl_movies_df, on = 'imdb_id', suffixes=['_wiki','_kagl'])
cleaned_movies_df = movies_raw_df

In [27]:
    # clean merged data set
cleaned_movies_df.drop(columns=['title_wiki','release_date','Language','Production company(s)', 'video'], inplace=True)

cleaned_movies_df = data_fill(cleaned_movies_df, 'runtime', 'Run time')
cleaned_movies_df = data_fill(cleaned_movies_df, 'budget', 'Budget')
cleaned_movies_df = data_fill(cleaned_movies_df, 'revenue', 'Box office')

In [29]:
    # sort and rename columns
cleaned_movies_df = cleaned_movies_df.loc[:, ['imdb_id','id','title_kagl','original_title','tagline','belongs_to_collection','url','imdb_link',
                       'runtime','budget','revenue','release date','popularity','vote_average','vote_count',
                       'genres','original_language','overview','spoken_languages','Country',
                       'production_companies','production_countries','Distributor',
                       'Producer(s)','Director','Starring','Cinematography','Editor(s)','Writer(s)','Composer(s)','Based on'
                      ]]

cleaned_movies_df.rename({'id':'kaggle_id',
                  'title_kagl':'title',
                  'url':'wikipedia_url',
                  'budget':'budget',
                  'release date':'release_date',
                  'Country':'country',
                  'Distributor':'distributor',
                  'Producer(s)':'producers',
                  'Director':'director',
                  'Starring':'starring',
                  'Cinematography':'cinematography',
                  'Editor(s)':'editors',
                  'Writer(s)':'writers',
                  'Composer(s)':'composers',
                  'Based on':'based_on',
                  'runtime':'run time'
                 }, axis='columns', inplace=True)

In [33]:
    # summarize and join ratings data to merged dataset
rating_counts = cleaned_rate_movies_df.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1)
rating_counts.columns = ['rating_' + str(col) for col in rating_counts.columns]
movies_with_ratings_df = pd.merge(cleaned_movies_df, rating_counts, left_on='kaggle_id', right_index=True, how='left')

In [37]:
    # db Connection string
db_string = f"postgresql://client:{db_password}@127.0.0.1:5432/movie_data"
engine = create_engine(db_string)

    # load to dB
cleaned_movies_df.to_sql(name='movies', con=engine)

In [44]:
    # load raw ratings file
rows_imported = 0

# get the start_time from time.time()
start_time = time.time()
for data in pd.read_csv(f'{file_dir}/ratings.csv', chunksize=1000000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='ratings', con=engine, if_exists='append')
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 1000000...Done. 34.007253885269165 total seconds elapsed
importing rows 1000000 to 2000000...Done. 66.74124217033386 total seconds elapsed
importing rows 2000000 to 3000000...Done. 99.64919185638428 total seconds elapsed
importing rows 3000000 to 4000000...Done. 130.77521133422852 total seconds elapsed
importing rows 4000000 to 5000000...Done. 162.4089870452881 total seconds elapsed
importing rows 5000000 to 6000000...Done. 193.59768795967102 total seconds elapsed
importing rows 6000000 to 7000000...Done. 225.34698748588562 total seconds elapsed
importing rows 7000000 to 8000000...Done. 256.1061952114105 total seconds elapsed
importing rows 8000000 to 9000000...Done. 287.7151553630829 total seconds elapsed
importing rows 9000000 to 10000000...Done. 318.82299160957336 total seconds elapsed
importing rows 10000000 to 11000000...Done. 350.2691843509674 total seconds elapsed
importing rows 11000000 to 12000000...Done. 381.06040620803833 total seconds elapsed
importing rows 12000000 to 13000000...Done. 412.12517952919006 total seconds elapsed
importing rows 13000000 to 14000000...Done. 443.2716279029846 total seconds elapsed
importing rows 14000000 to 15000000...Done. 475.09379720687866 total seconds elapsed
importing rows 15000000 to 16000000...Done. 506.095050573349 total seconds elapsed
importing rows 16000000 to 17000000...Done. 538.7480206489563 total seconds elapsed
importing rows 17000000 to 18000000...Done. 570.1282238960266 total seconds elapsed
importing rows 18000000 to 19000000...Done. 601.5218870639801 total seconds elapsed
importing rows 19000000 to 20000000...Done. 631.2534484863281 total seconds elapsed
importing rows 20000000 to 21000000...Done. 661.7203931808472 total seconds elapsed
importing rows 21000000 to 22000000...Done. 693.5478472709656 total seconds elapsed
importing rows 22000000 to 23000000...Done. 725.2589604854584 total seconds elapsed
importing rows 23000000 to 24000000...Done. 756.6049902439117 total seconds elapsed
importing rows 24000000 to 25000000...Done. 788.2207124233246 total seconds elapsed
importing rows 25000000 to 26000000...Done. 819.7491822242737 total seconds elapsed
importing rows 26000000 to 26024289...Done. 820.5031304359436 total seconds elapsed

In [45]:
# display wiki-df
cleaned_wiki_movies_df.head()

,url,year,imdb_link,title,Based on,Starring,Narrated by,Cinematography,Release date,Country,...,Created by,Preceded by,Suggested by,alt_titles,Recorded,Venue,Label,Animation by,Color process,imdb_id
index_,,,,,,,,,,,,,,,,,,,,,
1,https://en.wikipedia.org/wiki/The_Adventures_o...,1990,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,"[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...","Andrew ""Dice"" Clay",Oliver Wood,1990-07-11,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0098987
2,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet","[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",NaN,Mark Plummer,1990-05-17,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0098994
3,https://en.wikipedia.org/wiki/Air_America_(film),1990,https://www.imdb.com/title/tt0099005/,Air America,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",NaN,Roger Deakins,1990-08-10,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099005
4,https://en.wikipedia.org/wiki/Alice_(1990_film),1990,https://www.imdb.com/title/tt0099012/,Alice,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",NaN,Carlo Di Palma,1990-12-25,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099012
5,https://en.wikipedia.org/wiki/Almost_an_Angel,1990,https://www.imdb.com/title/tt0099018/,Almost an Angel,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",NaN,Russell Boyd,1990-12-19,US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099018

In [46]:
# display kagl-df
cleaned_kagl_movies_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,release date
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995-10-30
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995-12-15
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,1995-12-22
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,1995-12-22
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,1995-02-10

In [47]:
# display ratings-df
cleaned_rate_movies_df.head()

   userId  movieId  rating           timestamp
0       1      110     1.0 2015-03-09 22:52:09
1       1      147     4.5 2015-03-09 23:07:15
2       1      858     5.0 2015-03-09 22:52:03
3       1     1221     5.0 2015-03-09 22:52:26
4       1     1246     5.0 2015-03-09 22:52:36

In [48]:
# display ratings-df
cleaned_movies_df.head()

,imdb_id,kaggle_id,title,original_title,tagline,belongs_to_collection,wikipedia_url,imdb_link,run time,budget,...,production_countries,distributor,producers,director,starring,cinematography,editors,writers,composers,based_on
0,tt0098987,9548,The Adventures of Ford Fairlane,The Adventures of Ford Fairlane,Kojak. Columbo. Dirty Harry. Wimps.,NaN,https://en.wikipedia.org/wiki/The_Adventures_o...,https://www.imdb.com/title/tt0098987/,104.0,49000000.0,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",20th Century Fox,"[Steve Perry, Joel Silver]",Renny Harlin,"[Andrew Dice Clay, Wayne Newton, Priscilla Pre...",Oliver Wood,Michael Tronick,"[David Arnott, James Cappe]","[Cliff Eidelman, Yello]","[Characters, by Rex Weiner]"
1,tt0098994,25501,"After Dark, My Sweet","After Dark, My Sweet",All they risked was everything.,NaN,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",https://www.imdb.com/title/tt0098994/,114.0,6000000.0,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",Avenue Pictures,"[Ric Kidney, Robert Redlin]",James Foley,"[Jason Patric, Rachel Ward, Bruce Dern, George...",Mark Plummer,Howard E. Smith,"[James Foley, Robert Redlin]",Maurice Jarre,"[the novel, After Dark, My Sweet, by, Jim Thom..."
2,tt0099005,11856,Air America,Air America,The few. The proud. The totally insane.,NaN,https://en.wikipedia.org/wiki/Air_America_(film),https://www.imdb.com/title/tt0099005/,112.0,35000000.0,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",TriStar Pictures,Daniel Melnick,Roger Spottiswoode,"[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",Roger Deakins,"[John Bloom, Lois Freeman-Fox]","[John Eskow, Richard Rush]",Charles Gross,"[Air America, by, Christopher Robbins]"
3,tt0099012,8217,Alice,Alice,NaN,NaN,https://en.wikipedia.org/wiki/Alice_(1990_film),https://www.imdb.com/title/tt0099012/,102.0,12000000.0,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",Orion Pictures,Robert Greenhut,Woody Allen,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",Carlo Di Palma,Susan E. Morse,Woody Allen,NaN,NaN
4,tt0099018,25943,Almost an Angel,Almost an Angel,Who does he think he is?,NaN,https://en.wikipedia.org/wiki/Almost_an_Angel,https://www.imdb.com/title/tt0099018/,95.0,25000000.0,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",Paramount Pictures,John Cornell,John Cornell,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",Russell Boyd,David Stiven,Paul Hogan,Maurice Jarre,NaN