## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_api_key

# Configure gmaps
gmaps.configure(api_key=g_api_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
hotel_df = pd.read_csv("Resources/HotelPy_Database.csv")
hotel_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Belmonte,BR,77.50,moderate rain,-15.8631,-38.8828,Pousada Monte Carmelo O P찾o
1,1,Saint George,US,50.47,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
2,2,Avarua,CK,75.25,scattered clouds,-21.2078,-159.7750,Paradise Inn
3,3,Kathmandu,NP,46.62,few clouds,27.7167,85.3167,Hotel Shanker Kathmandu
4,4,Busselton,AU,72.09,clear sky,-33.6500,115.3333,Observatory Guest House

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
    <dt>Hotel Name
    </dt>
        <dd>{Hotel Name}
        </dd>
    <dt>City
    </dt>
        <dd>{City}
        </dd>
    <dt>Country
    </dt>
        <dd>{Country}
        </dd>
    <dt>Weather
    </dt>
        <dd>{Current Description}
        </dd>
    <dt>Max Temp
    </dt>
        <dd>{Max Temp} 째F
        </dd>

</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]


# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
# i have only 6 cities to choose from; this is a 1 way trip/tour.

vaca_start = hotel_df.loc[(hotel_df['City']=='Makarska')       ] #,('Lat', 'Lng')
vaca_end__ = hotel_df.loc[(hotel_df['City']=='Barcelona')      ] #,('Lat', 'Lng')
vaca_stop1 = hotel_df.loc[(hotel_df['City']=='Marostica')      ] #,('Lat', 'Lng')
vaca_stop2 = hotel_df.loc[(hotel_df['City']=='Millau')         ] #,('Lat', 'Lng') 
vaca_stop3 = hotel_df.loc[(hotel_df['City']=='Frontignan')     ] #,('Lat', 'Lng')

In [15]:
print (vaca_start)

      City_ID      City Country  Max Temp Current Description      Lat  \
1021     1085  Makarska      HR     48.34           clear sky  43.2969

          Lng           Hotel Name
1021  17.0178  Hotel Park Makarska

In [16]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start_ = [vaca_start['Lat'].to_numpy()[0], vaca_start['Lng'].to_numpy()[0]]
end___ = [vaca_end__['Lat'].to_numpy()[0], vaca_end__['Lng'].to_numpy()[0]]
stop1_ = [vaca_stop1['Lat'].to_numpy()[0], vaca_stop1['Lng'].to_numpy()[0]]
stop2_ = [vaca_stop2['Lat'].to_numpy()[0], vaca_stop2['Lng'].to_numpy()[0]]
stop3_ = [vaca_stop3['Lat'].to_numpy()[0], vaca_stop3['Lng'].to_numpy()[0]]

#print(f'Start: {start}, End: {end__}')
#print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')
print (start_)

[43.2969, 17.0178]

In [17]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

itinerary = gmaps.directions_layer(
    start_, end___, waypoints=[stop1_, stop2_, stop3_],
    travel_mode='DRIVING')

fig2 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig2.add_layer(itinerary)
fig2

Figure(layout=FigureLayout(height='420px'))

In [18]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

itinerary_df = pd.concat([vaca_start, vaca_stop1, vaca_stop2, vaca_stop3, vaca_end__],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1085,Makarska,HR,48.34,clear sky,43.2969,17.0178,Hotel Park Makarska
1,275,Marostica,IT,51.24,scattered clouds,45.7468,11.6579,Albergo Due Mori
2,285,Millau,FR,46.00,clear sky,44.0833,2.9167,La Villa Des Raspes
3,795,Frontignan,FR,49.95,clear sky,43.4485,3.7540,Domain Selhac: Cottages in Frontignan
4,725,Barcelona,ES,58.96,clear sky,41.3888,2.1590,Axel Hotel Barcelona

In [19]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
    <dt>Hotel Name
    </dt>
        <dd>{Hotel Name}
        </dd>
    <dt>City
    </dt>
        <dd>{City}
        </dd>
    <dt>Country
    </dt>
        <dd>{Country}
        </dd>
    <dt>Weather
    </dt>
        <dd>{Current Description}
        </dd>
    <dt>Max Temp
    </dt>
        <dd>{Max Temp} 째F
        </dd>

</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig3 = gmaps.figure()
fig3.add_layer(marker_layer)

# 11b. Display the figure
fig3

Figure(layout=FigureLayout(height='420px'))